---
- name: yum-install-chrony
  yum: name=chrony state=installed
  tags:
    - ntp

- name: configure-chronyd
  template: src=chrony.conf dest=/etc/chrony.conf
  tags:
    - ntp

- name: stop-disable-chronyd
  service: name=chronyd enabled=no state=stopped
  tags:
    - ntp

# check if resource already created
- name: pcs-resource-show-chronyd
  command: pcs resource show chronyd-clone
  register: pcs_resource_show_chronyd_clone
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - ntp

- name: create-pacemaker-resource
  shell: pcs resource create chronyd systemd:chronyd --clone
  run_once: true
  when: pcs_resource_show_chronyd_clone.stderr.startswith("Error")
  tags:
    - ntp
 
- name: timedatectl-set-ntp-set-local-rtc
  shell: |
    timedatectl set-ntp 1
    timedatectl set-local-rtc 0
  changed_when: false
  tags:
    - ntp
