---
- name: lookup-pcs-status
  command: pcs status
  register: pcs_status
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - pacemaker-d

- name: resource-cleanup
  shell: pcs resource cleanup
  run_once: true
#  when: PCS_STATUS.startswith("Cluster name:")
  ignore_errors: true
  tags:
    - pacemaker-d

- name: stop-cluster
  shell: pcs cluster stop --all
  run_once: true
#  when: PCS_STATUS.startswith("Cluster name:")
  ignore_errors: true
  tags:
    - pacemaker-d

- name: destroy-cluster
  shell: pcs cluster destroy --all
  run_once: true
#  when: PCS_STATUS.startswith("Cluster name:")
  ignore_errors: true
  tags:
    - pacemaker-d

- name: uninstall-pkgs
  yum: name={{ item }} state=removed
  with_items: "{{ PCMK_pkgs }}"
#  when: PCS_STATUS.startswith("Cluster name:")
  ignore_errors: true
  tags:
    - pacemaker-d

- name: cleanup-pacemaker-corosync-config-files
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/corosync
    - /var/log/cluster
    - /var/lib/corosync
    - /var/lib/pacemaker
#  when: PCS_STATUS.startswith("Cluster name:")
  ignore_errors: true
  tags:
    - pacemaker-d
