---
##############################################
# installation & configuration

- name: install_pkgs
  yum: name={{ item }} state=installed
  with_items: "{{ PCMK_pkgs }}"
  tags: [pacemaker]
  
- name: enable-n-start-pcsd
  shell: |
    systemctl enable pcsd
    systemctl start pcsd
  tags: [pacemaker]
    
- name: setting-hacluster-passwd
  shell: echo "{{ PCMK_user }}:{{ PCMK_pass }}" | chpasswd
  tags: [pacemaker]

- name: authorizing-cluster-nodes
  shell: pcs cluster auth {{ NODES_MGMT_NAME | join(" ") }} -u {{ PCMK_user }} -p {{ PCMK_pass }}
  run_once: true
  tags: [pacemaker]
  
- name: setup-cluster
  shell: pcs cluster setup --name {{ CLUSTER_NAME }}  {{ NODES_MGMT_NAME | join(" ") }}
  run_once: true
  tags: [pacemaker]
  
- name: start-cluster
  shell: |
    pcs cluster start --all
    sleep 15
  run_once: true
  tags: [pacemaker]

# fixme: temp disable stonith
- name: disable-stonith
  shell: pcs property set stonith-enabled=false
  run_once: true
  tags: [pacemaker]

- name: disable-failure-is-fatal
  shell: pcs property set start-failure-is-fatal=false
  run_once: true
  tags: [pacemaker]
    
  
##############################################
# delete
- name: resource-cleanup
  shell: pcs resource cleanup
  run_once: true
  tags: [pacemaker-d]
  ignore_errors: true
  
- name: stop-cluster
  shell: pcs cluster stop --all
  run_once: true
  tags: [pacemaker-d]
  ignore_errors: true
  
- name: destroy-cluster
  shell: pcs cluster destroy --all
  run_once: true
  tags: [pacemaker-d]
  ignore_errors: true

- name: uninstall-pkgs
  yum: name={{ item }} state=removed
  with_items: "{{ PCMK_pkgs }}"
  tags: [pacemaker-d]
  ignore_errors: true
  
- name: cleanup-pacemaker-corosync-config-files
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/corosync
    - /var/log/cluster
    - /var/lib/corosync
    - /var/lib/pacemaker
  tags: [pacemaker-d]
  ignore_errors: true
