- name: set-fact-nodes-fact
  set_fact:
    NODES_FACT: "{{ (NODES_FACT | default([])) + [NODES_FACT_template] }}"
  with_sequence: "start=0 count={{ NODES_NR }}"
  run_once: true
  tags: [always]

- name: set-fact-nodes-ext-name
  set_fact:
    NODES_EXT_NAME: "{{ (NODES_EXT_NAME | default([])) + [NODES_EXT_NAME_template] }}"
  with_sequence: "start=0 count={{ NODES_NR }}"
  run_once: true
  tags: [always]

- name: set-fact-nodes-mgmt-name
  set_fact:
    NODES_MGMT_NAME: "{{ (NODES_MGMT_NAME | default([])) + [NODES_MGMT_NAME_template] }}"
  with_sequence: "start=0 count={{ NODES_NR }}"
  run_once: true
  tags: [always]

- name: backup-existing-repo-files
  shell: mkdir -p /etc/yum.repos.d/backup; mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/backup
  ignore_errors: true
  tags: [common]

- name: generate-an-all-in-one-yum-repo-file
  template: src=mirrors.repo.j2 dest=/etc/yum.repos.d/mirrors.repo
  tags: [common]

- name: disable-fastest-mirror-plugin
#  shell: sed -i.bak -e '/enabled/cenabled=0' /etc/yum/pluginconf.d/fastestmirror.conf
  template: src=fastestmirror.conf dest=/etc/yum/pluginconf.d/fastestmirror.conf
  tags: [common]

- name: copy-elrepo-rpm-gpg-key
  template: src=RPM-GPG-KEY-elrepo.org dest=/etc/pki/rpm-gpg/RPM-GPG-KEY-elrepo.org
  tags: [common]

- name: import-elrepo-rpm-gpg-key
#  shell: rpm --import https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
  rpm_key:
    state: present
    key: /etc/pki/rpm-gpg/RPM-GPG-KEY-elrepo.org
#    key: https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
  tags: [common]

- name: yum-update
  yum:
    name: '*'
    state: latest
  tags: [common]

- name: install-misc-pkgs
  yum: name={{ item }} state=installed
  with_items:
    - NetworkManager-tui
    - NetworkManager-team
    - chrony
    - ipmitool
    - kexec-tools
    - lsof
    - lynx
    - curl
    - nmap-ncat
    - psmisc
    - rsync
    - smartmontools
    - socat
    - sudo
    - tcpdump
    - tmux
    - tree
    - wget
    - htop
    - inxi
    - gsmartcontrol
    - vim-enhanced
    - firewalld
    - iptables-services
    - net-snmp
    - net-snmp-utils
  tags: [common]

- name: yum-remove-some-pkgs
  yum: name={{ item }} state=removed
  with_items:
    - vim-minimal
#    - iptables
  tags: [common]

- name: create-vim-symlink
#  shell: unlink /usr/bin/vi; ln -s /usr/bin/vim /usr/bin/vi
  file:
    src: /usr/bin/vim
    dest: /usr/bin/vi
    state: link
  tags: [common]

- name: create-etc-tmux-conf
  template: src=tmux.conf dest=/etc/tmux.conf
  tags: [common]

- name: create-user-bruin
  user: name=bruin shell=/bin/bash home=/home/bruin groups=wheel generate_ssh_key=yes ssh_key_bits=2048
  changed_when: false
  tags: [common]

- name: set-bruin-password
  shell: echo bruin:qwerty | chpasswd
  changed_when: false
  tags: [common]

- name: disable-firewalld-iptables
  service: name={{ item }} enabled=no
  with_items:
    - firewalld
    - iptables
  tags: [common]

- name: disable-selinux
  template: src=selinux.config dest=/etc/selinux/config
  tags: [common]

- name: disable-ipv6-1
  blockinfile:
    dest: /etc/sysctl.conf
    backup: yes
    block: |
      net.ipv6.conf.all.disable_ipv6 = 1
      net.ipv6.conf.default.disable_ipv6 = 1
#  shell: echo net.ipv6.conf.all.disable_ipv6 = 1  >> /etc/sysctl.conf; \
#         echo net.ipv6.conf.default.disable_ipv6 = 1 >> /etc/sysctl.conf; \
#         sysctl -p
# https://github.com/ansible/ansible/issues/19388
#  sysctl:
#    name: net.ipv6.conf.all.disable_ipv6
#    value: 1
#    sysctl_set: yes
#    state: present
#    sysctl_file: /etc/sysctl.conf
#    reload: yes

- name: disable-ipv6-2
  shell: sysctl -p
  changed_when: false
  tags: [common]

- name: enable-nopasswd-sudo
  template: src=sudoers dest=/etc/suduers
  tags: [common]

- name: update-sshd-config
  template: src=sshd_config dest=/etc/ssh/sshd_config
  tags: [common]

- name: update-hostname
  hostname: name={{ item.mgmt_name }}
  with_items: "{{ NODES_FACT }}"
  when: item.ext_ip == inventory_hostname
  tags: [common]

- name: update-etc-hosts
  template: src=hosts.j2 dest=/etc/hosts
  tags: [common]

- include: "{{ team }}.yml"

- name: update-snmpd-conf
  template: src=snmpd.conf dest=/etc/snmp/snmpd.conf
  tags: [common]

- name: enable-snmpd-service
  service: name=snmpd enabled=yes state=restarted
  tags: [common]

- include: ssh-copy-id.yml
