- name: set-fact-nodes-fact
  set_fact:
    NODES_FACT: "{{ (NODES_FACT | default([])) + [NODES_FACT_template] }}"
  with_sequence: "start=0 count={{ NODES_NR }}"
  run_once: true
  tags: [always]

- name: set-fact-nodes-ext-name
  set_fact:
    NODES_EXT_NAME: "{{ (NODES_EXT_NAME | default([])) + [NODES_EXT_NAME_template] }}"
  with_sequence: "start=0 count={{ NODES_NR }}"
  run_once: true
  tags: [always]

- name: set-fact-nodes-mgmt-name
  set_fact:
    NODES_MGMT_NAME: "{{ (NODES_MGMT_NAME | default([])) + [NODES_MGMT_NAME_template] }}"
  with_sequence: "start=0 count={{ NODES_NR }}"
  run_once: true
  tags: [always]

- name: backup-existing-repo-files
  shell: mkdir -p /etc/yum.repos.d/backup; mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/backup
  ignore_errors: true

- name: generate-an-all-in-one-yum-repo-file
  template: src=mirrors.repo.j2 dest=/etc/yum.repos.d/mirrors.repo

- name: disable-fastest-mirror-plugin
#  shell: sed -i.bak -e '/enabled/cenabled=0' /etc/yum/pluginconf.d/fastestmirror.conf
  template: src=fastestmirror.conf dest=/etc/yum/pluginconf.d/fastestmirror.conf

- name: copy-elrepo-rpm-gpg-key
  template: src=RPM-GPG-KEY-elrepo.org dest=/etc/pki/rpm-gpg/RPM-GPG-KEY-elrepo.org

- name: import-elrepo-rpm-gpg-key
#  shell: rpm --import https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
  rpm_key:
    state: present
    key: /etc/pki/rpm-gpg/RPM-GPG-KEY-elrepo.org
#    key: https://www.elrepo.org/RPM-GPG-KEY-elrepo.org

- name: yum-update
  yum:
    name: '*'
    state: latest

- name: install-misc-pkgs
  yum: name={{ item }} state=installed
  with_items:
    - NetworkManager-tui
    - NetworkManager-team
    - chrony
    - ipmitool
    - kexec-tools
    - lsof
    - lynx
    - curl
    - nmap-ncat
    - psmisc
    - rsync
    - smartmontools
    - socat
    - sudo
    - tcpdump
    - tmux
    - tree
    - wget
    - htop
    - inxi
    - gsmartcontrol
    - vim-enhanced
    - firewalld
    - iptables

- name: yum-remove-some-pkgs
  yum: name={{ item }} state=removed
  with_items:
    - vim-minimal
#    - iptables

- name: create-vim-symlink
#  shell: unlink /usr/bin/vi; ln -s /usr/bin/vim /usr/bin/vi
  file:
    src: /usr/bin/vim
    dest: /usr/bin/vi
    state: link

- name: create-etc-tmux-conf
  template: src=tmux.conf dest=/etc/tmux.conf

- name: create-user-bruin
  user: name=bruin shell=/bin/bash home=/home/bruin groups=wheel generate_ssh_key=yes ssh_key_bits=2048
  changed_when: false

- name: set-bruin-password
  shell: echo bruin:qwerty | chpasswd
  changed_when: false

- name: disable-firewalld
  service: name={{ item }} enabled=no
  with_items:
    - firewalld
#    - iptables

- name: disable-selinux
  template: src=selinux.config dest=/etc/selinux/config

- name: disable-ipv6-1
  blockinfile:
    dest: /etc/sysctl.conf
    backup: yes
    block: |
      net.ipv6.conf.all.disable_ipv6 = 1
      net.ipv6.conf.default.disable_ipv6 = 1
#  shell: echo net.ipv6.conf.all.disable_ipv6 = 1  >> /etc/sysctl.conf; \
#         echo net.ipv6.conf.default.disable_ipv6 = 1 >> /etc/sysctl.conf; \
#         sysctl -p
# https://github.com/ansible/ansible/issues/19388
#  sysctl:
#    name: net.ipv6.conf.all.disable_ipv6
#    value: 1
#    sysctl_set: yes
#    state: present
#    sysctl_file: /etc/sysctl.conf
#    reload: yes

- name: disable-ipv6-2
  shell: sysctl -p
  changed_when: false

- name: enable-nopasswd-sudo
  template: src=sudoers dest=/etc/suduers

- name: update-sshd-config
  template: src=sshd_config dest=/etc/ssh/sshd_config

- name: update-hostname
  hostname: name={{ item.mgmt_name }}
  with_items: "{{ NODES_FACT }}"
  when: item.ext_ip == inventory_hostname

- name: update-etc-hosts
  template: src=hosts.j2 dest=/etc/hosts

# using nmcli module seems clumsy, for variable preparation, so let's just do it with shell
# FIXME: need a loop for dealing different number of teaming scenarios
- name: setup-network-teaming
  shell: |
    mkdir -p /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[0].name }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[0].slaves[0] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[0].slaves[1] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[1].name }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[1].slaves[0] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[1].slaves[1] }}* /etc/sysconfig/network-scripts/backup

    systemctl enable NetworkManager
    systemctl start NetworkManager
    sleep 5

    nmcli con add type team con-name {{ item.team[0].name }} ifname {{ item.team[0].name }} ip4 {{ item.ext_ip }}/{{ item.ext_mask }} gw4 {{ item.ext_gw }}
    nmcli conn add type team-slave con-name {{ item.team[0].slaves[0] }} ifname {{ item.team[0].slaves[0] }} master {{ item.team[0].name }}
    nmcli conn add type team-slave con-name {{ item.team[0].slaves[1] }} ifname {{ item.team[0].slaves[1] }} master {{ item.team[0].name }}
    nmcli con modify {{ item.team[0].name }} +ipv4.dns {{ item.dns[0] }}

    nmcli con add type team con-name {{ item.team[1].name }} ifname {{ item.team[1].name }} ip4 {{ item.mgmt_ip }}/{{ item.mgmt_mask }}
    nmcli conn add type team-slave con-name {{ item.team[1].slaves[0] }} ifname {{ item.team[1].slaves[0] }} master {{ item.team[1].name }}
    nmcli conn add type team-slave con-name {{ item.team[1].slaves[1] }} ifname {{ item.team[1].slaves[1] }} master {{ item.team[1].name }}

    systemctl restart network
  with_items: "{{ NODES_FACT }}"
  when: item.ext_ip == inventory_hostname
  tags: [team]
