---
# using nmcli module seems clumsy, for variable preparation, so let's just do it with shell
# FIXME: need a loop for dealing different number of teaming scenarios

# this is to set up two teams: external, mgmt and storage
- name: setup-network-teaming-3
  shell: |
    mkdir -p /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[0].name }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[0].slaves[0] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[0].slaves[1] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[1].name }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[1].slaves[0] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[1].slaves[1] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[2].name }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[2].slaves[0] }}* /etc/sysconfig/network-scripts/backup
    mv /etc/sysconfig/network-scripts/ifcfg-{{ item.team[2].slaves[1] }}* /etc/sysconfig/network-scripts/backup

    systemctl enable NetworkManager
    systemctl start NetworkManager
    sleep 5

    nmcli con add type team con-name {{ item.team[0].name }} ifname {{ item.team[0].name }} ip4 {{ item.ext_ip }}/{{ item.ext_mask }} gw4 {{ item.ext_gw }}
    nmcli conn add type team-slave con-name {{ item.team[0].slaves[0] }} ifname {{ item.team[0].slaves[0] }} master {{ item.team[0].name }}
    nmcli conn add type team-slave con-name {{ item.team[0].slaves[1] }} ifname {{ item.team[0].slaves[1] }} master {{ item.team[0].name }}
    nmcli con modify {{ item.team[0].name }} +ipv4.dns {{ item.dns[0] }}

    nmcli con add type team con-name {{ item.team[1].name }} ifname {{ item.team[1].name }} ip4 {{ item.mgmt_ip }}/{{ item.mgmt_mask }}
    nmcli conn add type team-slave con-name {{ item.team[1].slaves[0] }} ifname {{ item.team[1].slaves[0] }} master {{ item.team[1].name }}
    nmcli conn add type team-slave con-name {{ item.team[1].slaves[1] }} ifname {{ item.team[1].slaves[1] }} master {{ item.team[1].name }}

    nmcli con add type team con-name {{ item.team[2].name }} ifname {{ item.team[2].name }} ip4 {{ item.stor_ip }}/{{ item.stor_mask }}
    nmcli conn add type team-slave con-name {{ item.team[2].slaves[0] }} ifname {{ item.team[2].slaves[0] }} master {{ item.team[2].name }}
    nmcli conn add type team-slave con-name {{ item.team[2].slaves[1] }} ifname {{ item.team[2].slaves[1] }} master {{ item.team[2].name }}

    systemctl restart network
  with_items: "{{ NODES_FACT }}"
  when: item.ext_ip == inventory_hostname
  tags: [common,team]
