---
# check if resource already created
- name: pcs-resource-show-haproxy
  command: pcs resource show haproxy
  register: pcs_resource_show_haproxy
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - haproxy-d
  
- name: delete-pacemaker-resource
  shell: |
    pcs resource cleanup
    pcs resource delete haproxy
  run_once: true
  when: not pcs_resource_show_haproxy.stderr
  tags:
    - haproxy-d

- name: remove-pkgs
  yum: name={{ item }} state=removed
  with_items:
    - haproxy
  when: not pcs_resource_show_haproxy.stderr
  tags:
    - haproxy-d

- name: remove-resource-agent
  file: 
    path: /usr/lib/ocf/resource.d/heartbeat/haproxy
    state: absent
  when: not pcs_resource_show_haproxy.stderr
  tags: 
    - haproxy-d

- name: remove-haproxy-cfg-directory
  file:
    path: /etc/haproxy
    state: absent
  when: not pcs_resource_show_haproxy.stderr
  tags: 
    - haproxy-d
