---
# check if resource already created
- name: pcs-resource-show-haproxy
  command: pcs resource show haproxy
  register: pcs_resource_show_haproxy
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - haproxy

- name: install-pkgs
  yum: name={{ item }} state=installed
  with_items:
    - haproxy
  when: pcs_resource_show_haproxy.stderr.startswith("Error")
  tags:
    - haproxy

- name: update-haproxy-cfg
  template:
    src: haproxy.cfg
    dest: /etc/haproxy/haproxy.cfg
  when: pcs_resource_show_haproxy.stderr.startswith("Error")
  tags:
    - haproxy

- name: disable-and-stop-haproxy-service
  service: name=haproxy enabled=no state=stopped
  tags: 
    - haproxy

- name: prepare-haproxy-resource-agent
  template:
    src: haproxy
    dest: /usr/lib/ocf/resource.d/heartbeat/haproxy
    mode: 0755
  tags:
    - haproxy

- name: create-pacemaker-resource
  shell: |
    pcs resource create haproxy ocf:heartbeat:haproxy op monitor interval=15s --disabled
    pcs constraint colocation add haproxy with {{ CLUSTER_EXT_VIP_NAME }}
    pcs resource enable haproxy
  run_once: true
  when: pcs_resource_show_haproxy.stderr.startswith("Error")
  tags:
    - haproxy

