---
- name: pcs-resource-show-gwadmin
  command: pcs resource show gw.admin-clone
  register: pcs_resource_show_gwadmin_clone
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - gateway-d
  
- name: delete-pacemaker-resource
  shell: |
    pcs resource cleanup --force
    pcs resource delete gw.admin-clone
    pcs resource cleanup --force
    pcs resource delete gw.swift-clone
    pcs resource cleanup --force
    pcs resource delete gw.glacier-clone
    pcs resource cleanup --force
  run_once: true
  when: not pcs_resource_show_gwadmin_clone.stderr
  tags:
    - gateway-d

# fixme: update haproxy.cfg and restart haproxy resource?

- name: remove-gateway-pkg
  yum:
    name: "{{ GATEWAY_YUM_PKG_NAME }}"
    state: removed
  tags:
    - gateway-d

- name: remove-gateway-config-dir
  file:
    path: "{{ GATEWAY_CONFIG_DIR }}"
    state: absent
  tags:
    - gateway-d

- name: remove-gateway-work-dir
  file:
    path: "{{ GATEWAY_WORK_DIR }}"
    state: absent
  tags:
    - gateway-d

- name: remove-gateway-log-files
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /var/log/cygw.admin.log
    - /var/log/cygw.swift.log
    - /var/log/cygw.glacier.log
  tags:
    - gateway-d

- name: yum-uninstall-pkgs
  yum: name={{ item }} state=removed
  with_items:
    - httpd
    - mod_wsgi
  tags:
    - gateway-d
