- name: install-yum-pkgs
  yum: name={{ item }} state=installed
  with_items:
    - python-six
    - python2-xmltodict
    - python-pip
    - gcc
    - python-devel
    - libffi-devel
  tags:
    - gateway

- name: upgrade-pip
  pip:
    name: pip
    state: latest
    extra_args: -i "{{PYPI_INDEX_URL}}"
  tags:
    - gateway

- name: install-pip-pkgs
  pip:
    name: "{{ item }}"
    extra_args: -i "{{PYPI_INDEX_URL}}"
    state: present
  with_items:
    - keystoneauth1
    - botocore
    - webob
    - boto3
    - awscli
    - pika
    - uwsgi
# note that xattr depends on cffi. if not explictly install, cffi will not able
# to be downloaded from official site because of network issues.
    - cffi
    - xattr
  tags:
    - gateway

- name: install-oceanray-rpm-pkg
  yum:
    name: "http://10.2.162.153/oceanray/oceanary-gateway-0.1.5-1.noarch.rpm"
    state: present
  tags:
    - gateway

- name: mkdir-work-dir
  file:
    path: "{{ GATEWAY_WORK_DIR }}"
    state: directory
  tags:
    - gateway

#------------------------------------
# updating config files
#------------------------------------

- name: update-default-conf
  template:
    src: default.conf.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/default.conf"
  tags:
    - gateway

- name: update-admin-conf
  template:
    src: admin.conf.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/admin.conf"
  tags:
    - gateway

- name: update-swift-conf
  template:
    src: swift.conf.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/swift.conf"
  tags:
    - gateway

- name: update-glacier-conf
  template:
    src: glacier.conf.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/glacier.conf"
  tags:
    - gateway

- name: update-uwsgi-admin-ini
  template:
    src: uwsgi.admin.ini.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/uwsgi.admin.ini"
  tags:
    - gateway

- name: update-uwsgi-swift-ini
  template:
    src: uwsgi.swift.ini.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/uwsgi.swift.ini"
  tags:
    - gateway

- name: update-uwsgi-glacier-ini
  template:
    src: uwsgi.glacier.ini.j2
    dest: "{{ GATEWAY_CONFIG_DIR }}/uwsgi.glacier.ini"
  tags:
    - gateway

#------------------------------------
# create pacemaker resources
#------------------------------------
# check if resource already created: use gwadmin as the test for all gateway pacemaker resources
- name: pcs-resource-show-gwadmin
  command: pcs resource show gw.admin-clone
  register: pcs_resource_show_gwadmin_clone
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - gateway

- name: create-pacemaker-resource
  shell: |
    pcs resource create gw.admin systemd:gw.admin --clone 
    pcs resource create gw.swift systemd:gw.swift --clone 
    pcs resource create gw.glacier systemd:gw.glacier --clone 
  run_once: true
  when: pcs_resource_show_gwadmin_clone.stderr.startswith("Error")
  tags:
    - gateway

- name: update-haproxy-cfg
  blockinfile: 
    backup: yes
    dest: /etc/haproxy/haproxy.cfg
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    content: |
      listen gateway-admin
        bind {{ CLUSTER_EXT_VIP }}:{{ GATEWAY_ADMIN_PORT }}
        balance  source
        option  tcpka
        option  tcplog
      {% for item in NODES_FACT %}
        server {{ item.ext_name }} {{ item.ext_ip }}:{{ GATEWAY_ADMIN_PORT }} check inter 2000 rise 2 fall 5
      {% endfor %}
      
      listen gateway-swift
        bind {{ CLUSTER_EXT_VIP }}:{{ GATEWAY_SWIFT_PORT }}
        balance  source
        option  tcpka
        option  tcplog
      {% for item in NODES_FACT %}
        server {{ item.ext_name }} {{ item.ext_ip }}:{{ GATEWAY_SWIFT_PORT }} check inter 2000 rise 2 fall 5
      {% endfor %}
      
      listen gateway-glacier
        bind {{ CLUSTER_EXT_VIP }}:{{ GATEWAY_GLACIER_PORT }}
        balance  source
        option  tcpka
        option  tcplog
      {% for item in NODES_FACT %}
        server {{ item.ext_name }} {{ item.ext_ip }}:{{ GATEWAY_GLACIER_PORT }} check inter 2000 rise 2 fall 5
      {% endfor %}
      
  notify: restart-haproxy-resource
#  when: pcs_resource_show_gwadmin_clone.stderr.startswith("Error")
  tags:
    - gateway
