- name: install-yum-pkgs
  yum: name={{ item }} state=installed
  with_items:
    - python-six
    - python2-xmltodict
    - python-pip
    - gcc
    - python-devel
    - libffi-devel
  tags:
    - gateway

- name: upgrade-pip
  pip:
    name: pip
    state: latest
    extra_args: -i "{{PYPI_INDEX_URL}}"
  tags:
    - gateway

- name: install-pip-pkgs
  pip:
    name: "{{ item }}"
    extra_args: -i "{{PYPI_INDEX_URL}}"
    state: present
  with_items:
    - keystoneauth1
    - botocore
    - webob
    - boto3
    - awscli
    - pika
    - uwsgi
# note that xattr depends on cffi. if not explictly install, cffi will not able
# to be downloaded from official site because of network issues.
    - cffi
    - xattr
  tags:
    - gateway

- name: mkdir-oceanray-sig
  file:
    path: "{{ PKG_INSTALL_ROOT }}"
    state: directory
  tags:
    - gateway

- name: unarchive-sig-pkg
  unarchive:
    src: pkgs/sig.tgz
    dest: "{{ PKG_INSTALL_ROOT }}"
  tags:
    - gateway

- name: mkdir-work-dir
  file:
    path: /var/lib/cygw
    state: directory
  tags:
    - gateway
