[global]
proto_type=admin
proto_vers=1.0
objstore_type=glusterfs
objstore_vers=1.0
user_manage_vers=1.0
background=NO
logLevel=DEBUG
logfile=/var/log/cygw.admin.log

[proto_demo]
obj_put_timeout = 3600

[proto_admin]
obj_put_timeout = 3600
user_name = admin
password = admin
access_key = AKIAIBYFM5BED7RRDTMA
secret_key = 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

[proto_glacier]
obj_put_timeout = 3600

[proto_swift]
obj_put_timeout = 3600

[objstore_glusterfs]
#mysql, mongodb
workdir = /var/lib/cygw/
db_type = mongodb
db_name = cygw_namespaces
obj_get_blksize = 131072
obj_put_blksize = 131072
list_max_len = 2048
gc_idle_time = 0.05

#50 min
gc_interval = 3600
#30 min
cleanup_single_timeout = 3600
cleanup_part_timeout = 3600
cleanup_multip_timeout = 3600


[objstore_demo]
workdir = /var/lib/cygw/

[mysql]
host={{ GATEWAY_MARIADB_IP }}
port={{ GATEWAY_MARIADB_PORT }}
user={{ GATEWAY_MARIADB_USER }}
passwd={{ GATEWAY_MARIADB_PASS }}

[mongodb]
urls={{ GATEWAY_MONGODB_URL }}

[user_manage]
db_name=cygw_users
table_name=users
list_max_len=1000
sync_database=True
sync_interval=3600

[container_manage]
db_name=cygw_containers

[keystone]
user={{ GATEWAY_KEYSTONE_USER }}
passwd={{ GATEWAY_KEYSTONE_PASS }}
tenant={{ GATEWAY_KEYSTONE_PROJECT }}
adminurl={{ GATEWAY_KEYSTONE_ADMIN_URL }}
publicurl={{ GATEWAY_KEYSTONE_PUBLIC_URL }}

[job]
jobId_len = 64
db_name = cygw_job
db_table = job_table
list_job_limit = 1000

[rabbitmq]
server = {{ GATEWAY_RABBITMQ_TRANSPORT_URL }}
queue = testq
#exchange = 
