---
- name: pcs-resource-show-httpd
  command: pcs resource show httpd-clone
  register: pcs_resource_show_httpd_clone
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - horizon-d
  
- name: delete-pacemaker-resource
  shell: |
    pcs resource cleanup --force
    pcs resource delete httpd-clone
  run_once: true
  when: not pcs_resource_show_httpd_clone.stderr
  tags:
    - horizon-d

- name: stop-httpd-service
  service:
    name: httpd
    state: stopped
  ignore_errors: yes
  tags:
    - horizon-d

- name: delete-os-dashboard-conf
  file:
    path: /usr/lib/systemd/system/httpd.service.d/openstack-dashboard.conf
    state: absent
  tags:
    - horizon-d

- name: rmdir-systemd-dir-for-httpd
  file:
    path: "{{ DASHBOARD_SYSTEMD_FOLDER }}"
    state: absent
  tags:
    - horizon-d

- name: delete-dashboard-conf
  file:
    path: /etc/httpd/conf.d/dashboard.conf
    state: absent
  tags:
    - horizon-d

- name: delete-local-settings
  file:
    path: "{{ DASHBOARD_INSTALL_ROOT }}/{{ DASHBOARD_PKG_TOP_DIR }}"
    state: absent
  tags:
    - horizon-d


- name: yum-uninstall-pkgs
  yum: name={{ item }} state=removed
  with_items:
    - httpd
    - mod_wsgi
  tags:
    - horizon-d

