# check if resource already created
- name: pcs-resource-show-httpd
  command: pcs resource show httpd-clone
  register: pcs_resource_show_httpd_clone
  run_once: true
  changed_when: false
  ignore_errors: true
  tags:
    - horizon

- name: install-yum-pkgs
  yum: name={{ item }} state=installed
  with_items:
    - python-pip
    - httpd
    - mod_wsgi
    - gcc
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: upgrade-pip
  pip:
    name: pip
    state: latest
    extra_args: -i "{{ PYPI_INDEX_URL }}"
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: mkdir-root-dir-for-dashboard
  file:
    path: "{{ DASHBOARD_INSTALL_ROOT }}"
    state: directory
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: unarchive-horizon-pkg
  unarchive:
    src: "{{ DASHBOARD_PKG_TARBALL }}"
    dest: "{{ DASHBOARD_INSTALL_ROOT }}"
    remote_src: True
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: pip-install-pkgs
  pip:
    requirements: "{{ DASHBOARD_INSTALL_ROOT }}/{{ DASHBOARD_PKG_TOP_DIR }}/requirements.txt"
    extra_args: -i "{{ PYPI_INDEX_URL }}"
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: modify-local-settings
  template:
    src: local_settings.py.j2
    dest: "{{ DASHBOARD_INSTALL_ROOT }}/{{ DASHBOARD_PKG_TOP_DIR }}/openstack_dashboard/local/local_settings.py"
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: modify-dashboard-conf
  template:
    src: dashboard.conf.j2
    dest: /etc/httpd/conf.d/dashboard.conf
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: mkdir-systemd-dir-for-httpd
  file:
      path: "{{ DASHBOARD_SYSTEMD_FOLDER }}"
      state: directory
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
      - horizon

- name: symlink-systemd-conf
  file:
    src: "{{ DASHBOARD_INSTALL_ROOT }}/{{ DASHBOARD_PKG_TOP_DIR }}/openstack_dashboard/conf/systemd.conf"
    dest: /usr/lib/systemd/system/httpd.service.d/openstack-dashboard.conf
    state: link
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: disable-n-stop-httpd-service
  service:
    name: httpd
    state: stopped
    enabled: no
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: create-pacemaker-resource
  shell: pcs resource create httpd systemd:httpd op start interval="0" timeout="60s" on-fail="restart" --clone 
  run_once: true
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

- name: update-haproxy-cfg
  blockinfile: 
    backup: yes
    dest: /etc/haproxy/haproxy.cfg
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    content: |
      listen dashboard
        bind {{ CLUSTER_MGMT_VIP }}:{{ DASHBOARD_LISTEN_PORT }}
        balance  source
        option  tcpka
        option  httpchk
        option  tcplog
      {% for item in NODES_FACT %}
        server {{ item.mgmt_name }} {{ item.mgmt_ip }}:{{ DASHBOARD_LISTEN_PORT }} check inter 2000 rise 2 fall 5
      {% endfor %}
  notify: restart-haproxy-resource
  when: pcs_resource_show_httpd_clone.stderr.startswith("Error")
  tags:
    - horizon

